{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Index</title>

    <!-- Favicon -->
    <link rel="icon" href="./img/core-img/favicon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'index/style.css' %}">

</head>

<body>
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->



    <!-- Welcome Area Start -->
    <section class="welcome-area">
        <div class="welcome-slides owl-carousel">
            {% for image in images %}
            <!-- Single Slide -->
            <div class="single-welcome-slide bg-img bg-overlay" style="background-image: url({{ image.P_image.url }});">
                <div class="container h-100">
                    <div class="row h-100 align-items-center">
                        <!-- Welcome Text -->
                        <div class="col-12 col-lg-8 col-xl-6">
                            <div class="welcome-text">
                                <h2 data-animation="bounceInDown" data-delay="900ms">Product Name<br></h2>
                                <p data-animation="bounceInDown" data-delay="500ms"> </p>
                                <div class="hero-btn-group" data-animation="bounceInDown" data-delay="100ms">

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}


        </div>
    </section>
    <!-- Welcome Area End -->





    <!-- Footer Area Start -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-content d-flex align-items-center justify-content-between">
                        <!-- Copywrite Text -->
                        <div class="copywrite-text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with  by <a href="" target="_blank">Dhruv Patel</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                        <!-- Footer Logo -->

                        <!-- Social Info -->

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="{% static 'index/js/jquery.min.js' %}"></script>
    <!-- Popper -->
    <script src="{% static 'index/js/popper.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'index/js/bootstrap.min.js' %}"></script>
    <!-- All Plugins -->
    <script src="{% static 'index/js/alime.bundle.js' %}"></script>
    <!-- Active -->
    <script src="{% static 'index/js/default-assets/active.js' %}"></script>

</body>

</html>