{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Title -->
    <title>Alime - Photography HTML Template</title>

    <!-- Favicon -->
    <link rel="icon" href="./img/core-img/favicon.png">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'index/style.css' %}">

</head>

<body style="">
    <!-- Preloader -->
    <div id="preloader">
        <div class="loader"></div>
    </div>
    <!-- /Preloader -->
    <!-- Header Area Start -->

    <!-- Header Area End -->


    <!-- Breadcrumb Area Start -->

    <!-- Breadcrumb Area End -->







    <!-- Comment Area Start -->

    <div class="comment-area section-padding-80">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <img src="media/products/item-1_TTSHmvY.jpg">
                </div>
                <div class="col-lg-8">
                    <!-- Comments Area -->
                    <div class="comment_area clearfix">
                        <h4 class="mb-30">02 Comments</h4>

                        <ol>
                            <!-- Single Comment Area -->
                            <li class="single_comment_area">
                                <!-- Comment Content -->
                                <div class="comment-content d-flex">
                                    <!-- Comment Author -->
                                    <div class="comment-author">

                                    </div>
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <a href="#" class="post-date">31 Jan 2020</a>
                                        <h5>Dhruv Patel</h5>
                                        <p>This product is good and the quality is also uptp the marks.</p>
                                    </div>

                                </div>

                                <div class="comment-content d-flex">
                                    <!-- Comment Author -->
                                    <div class="comment-author">

                                    </div>
                                    <!-- Comment Meta -->
                                    <div class="comment-meta">
                                        <a href="#" class="post-date">31 Jan 2020</a>
                                        <h5>Dhruv Patel</h5>
                                        <p>This product is good and the quality is also uptp the marks.</p>
                                    </div>

                                </div>


                            </li>


                        </ol>
                    </div>

                    <!-- Leave A Reply -->
                    <div class="alime-contact-form mt-50">
                        <h4 class="mb-30">Leave A Comment</h4>

                        <!-- Form -->
                        <form action="#" method="post">
                            <div class="row">
                                <div class="col-12 col-md-6">
                                    <input type="text" name="message-name" class="form-control mb-30" placeholder="Your Name">
                                </div>
                                <div class="col-12 col-md-6">

                                </div>
                                <div class="col-12">

                                </div>
                                <div class="col-12">
                                    <textarea name="message" class="form-control mb-30" placeholder="Messages"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn alime-btn btn-2 mt-15">Send Messages</button>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- Comment Area End -->



    <!-- Footer Area Start -->
    <footer class="footer-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="footer-content d-flex align-items-center justify-content-between">
                        <!-- Copywrite Text -->
                        <div class="copywrite-text">
                            <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with  by <a href="" target="_blank">Dhruv Patel</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                        </div>
                        <!-- Footer Logo -->

                        <!-- Social Info -->

                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Area End -->

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="{% static 'index/js/jquery.min.js' %}"></script>
    <!-- Popper -->
    <script src="{% static 'index/js/popper.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'index/js/bootstrap.min.js' %}"></script>
    <!-- All Plugins -->
    <script src="{% static 'index/js/alime.bundle.js' %}"></script>
    <!-- Active -->
    <script src="{% static 'index/js/default-assets/active.js' %}"></script>

</body>

</html>